body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa3a;
  background: transparent;

}

@keyframes show {
  0% {
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  } 100% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

#searchsection {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.177);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  border: 1px solid rgba(227, 227, 227, 0.342);
  box-shadow: 8px 8px 50px rgba(0, 0, 0, 0.059);  
  transition: .3s;   
}

#searchsection:hover{
  transform: scale(1.1);
  box-shadow: 8px 8px 100px rgba(0, 0, 0, 0.128); 
  border: 1px solid rgba(227, 227, 227, 0.342);
}

#Searchbar {
  position: relative;
  font-size: 15px;
  height: 15px;
  padding: 12px 0px;
  outline: none;
  border: none;
  color: rgb(37, 37, 37);
  width: 90%;
  border-radius: 12px;
}

#Searchresult {
  animation: show .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 15px;   
}